<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vunke.shareHome.dao.EnumDataMapper">

  
  <select  id="selectByED"  resultType="com.vunke.shareHome.model.EnumData" parameterType="com.vunke.shareHome.model.EnumData"> 

  			select * from enum_data where    			
  			enum_type = #{enumType,jdbcType=VARCHAR}  and enum_name = #{enumName,jdbcType=VARCHAR}			
  </select>



 
  <select  id="selectByKey"  resultType="com.vunke.shareHome.model.EnumData" parameterType="com.vunke.shareHome.model.EnumData"> 

  			select * from enum_data where    			
  			enum_type = #{enumType,jdbcType=VARCHAR} 
  			 and enum_name = #{enumName,jdbcType=VARCHAR}
  			 and enum_key= #{enumKey,jdbcType=VARCHAR}			
  </select>


</mapper>